@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sparkleMove {
  0% { 
    transform: translateX(0) translateY(0); 
  }
  100% { 
    transform: translateX(-100px) translateY(-50px); 
  }
}

@keyframes sparkleMove2 {
  0% { 
    transform: translateX(0) translateY(0) scale(1); 
  }
  50% { 
    transform: translateX(50px) translateY(25px) scale(1.1); 
  }
  100% { 
    transform: translateX(0) translateY(0) scale(1); 
  }
}

@keyframes slowPan {
  0% { 
    transform: translateX(0) translateY(0); 
  }
  100% { 
    transform: translateX(-22px) translateY(-22px); 
  }
}
